<!DOCTYPE html>
<html>
  <head>
    <title>SolidusChessStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
  </head>

  <body>
    <!-- Wrap the header and container to get a sticky footer -->
    <div class='wrapper'>
      <%= render 'layouts/header' %>
      <%= render 'layouts/container' %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
